*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.home{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(laptop.jpg);
}


.navbar{
    background-color: brown;
}

@media (min-width:900px ) {
   
    #reduce {
        font-size: 52px !important;
    }
}
